<div class="main-container">
    <div class="container mt-3">
        <div class="row">
            <div class="col">
                <!-- nav bar -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/register">Register</a>
                    </li>
                </ul>
                <!-- form  -->
                <form class="mt-3" #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm.value)">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="looking-for" class="form-label">I am Looking for a</label>
                            <select class="form-select" id="looking-for" name="lookingFor" ngModel>
                                <option value="Bride">Bride</option>
                                <option value="Groom">Groom</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="age-min" class="form-label">Age</label>
                            <select class="form-select" id="age-min" name="ageMin" ngModel>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="age-max" class="form-label">&nbsp;</label>
                            <select class="form-select" id="age-max" name="ageMax" ngModel>
                                <option value="31">31</option>
                                <option value="32">32</option>
                                <option value="33">33</option>
                                <option value="34">34</option>
                                <option value="35">35</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="religion" class="form-label">Religion</label>
                            <select class="form-select" id="religion" name="religion" ngModel>
                                <option value="Christian">Christian</option>
                                <option value="Buddhist">Buddhist</option>
                                <option value="Brahmin">Brahmin</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="caste" class="form-label">Caste</label>
                            <select class="form-select" id="caste" name="caste" ngModel>
                                <option value="Not Matters">Not Matters</option>
                                <option value="General">General</option>
                                <option value="OBC">OBC</option>
                                <option value="SC">SC</option>
                                <option value="ST">ST</option>
                            </select>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Search</button>
                </form>
                <!-- end form  -->

                <!-- Carousel for results -->
                <div *ngIf="searchResults.length > 0" id="carouselExample" class="carousel slide mt-3"
                    data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div *ngFor="let chunk of chunkedResults(searchResults, 3); let i = index"
                            [class]="i === 0 ? 'carousel-item active' : 'carousel-item'">
                            <div class="row">
                                <div *ngFor="let profile of chunk" class="col-md-4">
                                    <div class="card mb-3">
                                        <div class="row">
                                            <div class="col-6">
                                                <img [src]="profile.imageUrl" alt="Profile Picture" class="img-fluid">
                                                <h3 class="details-name">{{ profile.name }}</h3>
                                            </div>
                                            <div class="col-6">
                                                <div class="card-details">
                                                    <p>WEB16662446HNM</p>
                                                    <p>33 yrs | 182 cm - 6 Ft</p>
                                                    <p>Hindu | Nair</p>
                                                    <p class="hidden" id="extraDetails">He is a leading..</p>
                                                    <p>Bangalore</p>
                                                    <button class="card-button" (click)="viewFullBio()">View Full
                                                        Bio</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!-- end result -->
            </div>
        </div>
    </div>
</div>