.main-container {
    background: #F7F7FF;
    padding: 3rem 0;
    position: relative;
}


.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.carousel-control-prev-icon {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23fff" viewBox="0 0 8 8"%3E%3Cpath d="M4.5 0L0 4l4.5 4 1-1L2 4l3.5-3z"/%3E%3C/svg%3E');
}

.carousel-control-next-icon {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="%23fff" viewBox="0 0 8 8"%3E%3Cpath d="M3.5 0L8 4l-4.5 4-1-1L6 4 2.5 1z"/%3E%3C/svg%3E');
}


.card img {
    border-radius: 5px;
    width: 110px;
    height: 150px;
}

.card:hover {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #e4dcd5);
}

.card button {
    background-color: #0077be;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 10px;
}