<app-header></app-header>

<div class="main-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Create New Account</h2>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-dark btn-block">Sign Up</button>
                        </form>
                        <p class="text-center mt-3">Already Registered?<span><a routerLink="/login">Login</a></span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 p-0 ">
                <!-- a welcome message with running background -->
                <div class="welcome-message">
                    <div class="welcome-message-content typewriter">
                        <h1>Welcome to our website</h1>
                        <p>Join Us and Embark on an Exciting Journey!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>