.main-container {
    background: linear-gradient(to right, #4d153f, #1d001c);
    padding: 3rem 0;
    position: relative;
}

.container {

    max-width: 1200px;
}

.img-fluid {
    max-height: 400px;
    object-fit: cover;
}

h1,h2,h3,h4,h5,h6 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

p {
    color: #fff;
    font-size: 1.25rem;
    text-align: center;
}

li {
    color: #fff;
    font-size: 1.25rem;
}


//media query
@media (max-width: 768px) {
    .img-fluid {
        max-height: 250px;
    }
}

h2 {
    margin-top: 20px;
}

ul {
    padding-left: 0;
}

li {
    display: flex;
    align-items: center;
}

.bi-check-circle-fill {
    margin-right: 10px;
}