.carousel-container {
    background: #F7F7FF;
    overflow-x: auto;
    white-space: nowrap;
}

.text-center {
    color: black;
}

.card {
    display: inline-block;
    width: calc(25% - 20px);
    /* 4 cards per row with spacing */
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s;
    box-sizing: border-box;
    vertical-align: top;
    height: 250px;
    background: #4c4b48;
    /* Ensure cards stay in a single row */
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card img {
    border-radius: 5px;
    width: 110px;
    height: 150px;
}

.card h3 {
    margin: 10px 0;
    font-size: 20px;
    color: white
}

.card p {
    font-size: 10px;
    margin: 10px;
    padding: auto;
    color: white;
}

.details-name {
    color: #0077be;
    font-size: 24px;
    margin: 0 0 10px 0;
}

.card-button {
    background-color: #0077be;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 10px;
}

/* Media Queries for responsiveness */
@media (max-width: 1200px) {
    .card {
        width: calc(33.333% - 20px);
        /* 3 cards per row with spacing */
    }
}

@media (max-width: 992px) {
    .card {
        width: calc(50% - 20px);
        /* 2 cards per row with spacing */
    }
}

@media (max-width: 768px) {
    .card {
        width: calc(100% - 20px);
        /* 1 card per row with spacing */
        margin: 10px auto;
    }

    .card img {
        width: 100px;
        height: 140px;
    }
}

@media (max-width: 576px) {
    .card {
        width: calc(100% - 20px);
        /* 1 card per row with spacing */
        margin: 10px auto;
    }

    .card img {
        width: 90px;
        height: 130px;
    }
}