<div class="main-container">
    <h1 class="text-center mb-5">Find your Special Someone</h1>
    <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
            <div class="feature-item text-center">
                <div class="icon-circle">
                    <i class="bi bi-person-plus">
                        
                    </i>
                </div>
                <h3>SIGN UP</h3>
                <p>Register for free & put up your Matrimony Profile</p>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="feature-item text-center">
                <div class="icon-circle">
                    <i class="bi bi-people"></i>
                </div>
                <h3>CONNECT</h3>
                <p>Select & Connect with Matches you like</p>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="feature-item text-center">
                <div class="icon-circle">
                    <i class="bi bi-chat-dots"></i>
                </div>
                <h3>INTERACT</h3>
                <p>Become a Premium Member & Start a Conversation</p>
            </div>
        </div>
    </div>
</div>