.main-container {
    // background: linear-gradient(to right, #300, #603);
    background-image: url(../../../assets/backgrounds/features-bg.png);
    color: white;
    padding: 2rem 1rem;
    position: relative;
    text-align: center;
}

.main-container::before {
    content: '';
    display: block;
    height: 2px;
    background-color: #ff0066;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    max-width: 150px;
    margin-bottom: 1rem;
}

.website {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.contact-info {
    font-size: 1rem;
    line-height: 1.8;
}

.contact-info a {
    color: #ff0066;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}




.social-link {
    margin: 0 10px;
    color: #555;
    font-size: 1.5rem;
}

.social-link:hover {
    color: #007bff;
}

.map{
    // border: 1px solid #ff0066;
    margin-top: 1rem;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


}

#map iframe {
    width: 100%;
    height: 250px;
    border: 0;
}

// media queries

@media (max-width: 768px) {

    .col-md-4,
    .col-md-8 {
        text-align: center;
    }

    .logo {
        max-width: 120px;
    }

    .website {
        font-size: 1.5rem;
    }

    .contact-info {
        font-size: 0.9rem;
    }
}

@media (max-width: 767.98px) {
    .text-md-left {
        text-align: center !important;
    }
}