<div class="main-container">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-4 text-center text-md-left">
                <img src="https://i.imgur.com/MIDZ2v3.png" alt="SW Matrimony Logo" class="img-fluid logo">
            </div>
            <div class="col-md-8 text-center text-md-left">
                <h2 class="website">swmatrimony.com</h2>
                <p class="contact-info">
                    Email ID: <a [href]="'mailto:anchepedhermatrimony@gmail.com'">anchepedhermatrimony@gmail.com</a><br>
                    Contact number:
                    <a [href]="'tel:+917619331333'">7619331333</a>,
                    <a [href]="'tel:+917619332333'">7619332333</a><br>
                    Address: #165, FIRST FLOOR, VASUNDHARA<br>
                    LAYOUT KAMMASANDRA, SAMPIGE NAGAR<br>
                    BANGALORE 560100
                </p>
            </div>
        </div>

        <div class="row align-items-center map">
            <div class="col-md-4 text-center text-md-left">
                <a [href]="'https://www.facebook.com/swmatrimony'" target="_blank" class="social-link"
                    aria-label="Facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a [href]="'https://www.instagram.com/swmatrimony'" target="_blank" class="social-link"
                    aria-label="Instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a [href]="'https://www.linkedin.com/company/swmatrimony'" target="_blank" class="social-link"
                    aria-label="LinkedIn">
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </div>
            <div class="col-md-8 text-center text-md-left">
                <div id="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.013013292073!2d77.6750733148229!3d12.8583669909161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1d4b1b1b1b1b%3A0x1b1b1b1b1b1b1b1b!2sSW%20Matrimony!5e0!3m2!1sen!2sin!4v1615790000000!5m2!1sen!2sin"
                        width="80%" height="250" style="border:0;" allowfullscreen="" loading="lazy">
                    </iframe>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-md-12 text-center">
                <p class="copy-right text-center">
                    © 2021 SW Matrimony. All Rights Reserved. Designed and Developed by
                    <a [href]="'https://www.srinivasweb.com'">SrinivasWeb</a>
                </p>
            </div>
        </div>
    </div>
</div>