<div class="main-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h2>Our Success Stories</h2>
                <p>Over 1 Million people have found love on swmatrimony.com</p>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card bg-purple text-white">
                    <img src="https://i.imgur.com/IhXm0Gv.jpg" class="card-img-top" alt="Couple Photo">
                    <div class="card-body">
                        <h5 class="card-title">Sajid & Sonal</h5>
                        <p class="card-text">Marriage planning is in progress and a big
                            thank you to Shaadi.com both of us as we have found our better
                            half / Soul mates.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card bg-purple text-white">
                    <img src="https://i.imgur.com/IhXm0Gv.jpg" class="card-img-top" alt="Couple Photo">
                    <div class="card-body">
                        <h5 class="card-title">Sajid & Sonal</h5>
                        <p class="card-text">Marriage planning is in progress and a big
                            thank you to Shaadi.com both of us as we have found our better
                            half / Soul mates.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card bg-purple text-white">
                    <img src="https://i.imgur.com/IhXm0Gv.jpg" class="card-img-top" alt="Couple Photo">
                    <div class="card-body">
                        <h5 class="card-title">Sajid & Sonal</h5>
                        <p class="card-text">Marriage planning is in progress and a big
                            thank you to Shaadi.com both of us as we have found our better
                            half / Soul mates.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>