.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/backgrounds/introbg.png);
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.col {
    text-align: center;
}

.hero-image {
    width: 300px;
    height: 310px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
}

h1 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 40;
    line-height: 1;

}