<div class="main-container">
    
    <div class="row">
        <div class="col">
            <h1>Personalised Matchmaking Service Brought to you by SWmatrimony.com</h1>
            <p class="mt-4">One of best known brands and the largest matrimonial service was founded with a simple
                objective - to help people find happiness. Your story is waiting to happen!</p>
            <button class="btn btn-danger mt-4" >
                <a routerLink="/register">Register Now</a>
            </button>
        </div>
        <div class="col">
            <img src="https://i.imgur.com/OflyaGo.jpg" alt="Happy Couple" class="rounded-circle hero-image">
        </div>
    </div>
</div>