.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F7F7FF;
    background-size: cover;
    background-position: center;
    color: black;
    height: 100vh;
    border-bottom: 1px solid rgb(101, 10, 10);
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.col {
    text-align: center;
}

.hero-image {
    width: 300px;
    height: 310px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
    filter: drop-shadow(1px 1px 10px yellow);
}

h1 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1;
    
}

button a{
    color: white;

}